'use client'

import { FC } from 'react'

interface IProps {}

const {{pascalCase name}}: FC<IProps> = (): JSX.Element  => {
    return (
        <div>
            {{pascalCase name}}
        </div>
    )
}

export default {{pascalCase name}}